#contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 5rem;
}

#contact-section a {
  display: flex;
  width: 43%;
  height: 20%;
}

#contact-section a svg {
  height: 80%;
}
