@import url("https://fonts.cdnfonts.com/css/anonymous-pro");
@import url("https://fonts.cdnfonts.com/css/red-hat-mono");
@import url("https://fonts.cdnfonts.com/css/whois");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --main-width: 70vw;
  --font-stack: "Anonymous Pro", "Red Hat Mono", "Inconsolata", "Lekton",
    "DejaVu Sans Mono", "Menlo", "Monaco", "Lucida Console", "Liberation Mono",
    "Bitstream Vera Sans Mono", "Courier New", sans-serif;
  --blue-1: #eff4f9;
  --blue-2: #d7dff1;
  --blue-3: #99a7c5;
  --blue-4: #798eb0;
  --blue-5: #4e6592;
  --blue-6: #303855;
  --screen-corner-radius: 0.5vw;
}

#my-body,
#my-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-stack);
  background-color: var(--blue-1);
  text-align: justify;

  margin: 0;
  height: 100%;
  width: 100%;
}

#my-body *,
#my-body *::before,
#my-body *::after {
  box-sizing: content-box !important; /* overwrite bootstrap setting*/
}

#my-nav {
  display: flex;
  width: var(--main-width);
  justify-content: space-between;
  margin-top: 2vh;
}

#my-nav a {
  color: var(--blue-4);
  text-decoration: none;
  font-weight: 500;
}

#my-body section {
  width: var(--main-width);
}

.nav_left {
  display: flex;
}

.nav_right {
  display: flex;
  flex-direction: row;
}

.nav_right a {
  margin-left: 1vw;
}

#hero-headline {
  display: flex;
  height: 20vh;
  margin: 4rem 0;
  font-size: 2rem;
}

#hero-headline .hero-headline_title {
  color: var(--blue-5);
  font-weight: 600;
}

@keyframes caret {
  0%,
  50% {
    opacity: 1;
  }
  50.1%,
  100% {
    opacity: 0;
  }
}

#hero-headline .hero-headline_cursor {
  background-color: var(--blue-5);
  animation: caret 1s steps(1) 2;
}

#my-body .section-header {
  margin: 7rem 0;
  color: var(--blue-5);
  font-size: 1.9rem;
  font-weight: 600;
}

#my-body .primary-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  column-gap: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 50px 100px rgba(121, 142, 176, 0.05),
    0 15px 35px rgba(121, 142, 176, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

#my-body .white-link {
  color: var(--blue-5);
}

#my-body .white-link svg path {
  fill: var(--blue-5);
}

#my-body .blue-link {
  background-color: var(--blue-5);
  color: var(--blue-1);
}

#my-body .blue-link svg path {
  fill: var(--blue-1);
}
